html, body, #map_canvas {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #B3F1C3;
	overflow: hidden;
}

.transparent {
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

/*
 * lateral panel
 */
#latpanel {
	position:absolute;
	top: 30px;
	bottom: 0;
	right: -210px;
	z-index: 99;
	padding:10px;
	width: 200px;
	margin-bottom:30px;
	overflow: hidden;
}
#latpanel_contents {
	height: 100%;
	width: 200px;
	position: absolute;
	background: black;
	z-index: -1;
}

#latpanel .item {
	width:185px;
	background-color: #ccffcc;
	margin:5px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	font-size: 0.5em;
}
.setcenter {
	cursor:pointer;
	text-decoration: underline;
}

/*
 * initial loading div
 */
#loading {
    width: 128px;
    height:15px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-64px;
    margin-top:-7px;   
}

/*
 * login panel, from http://net.tutsplus.com/tutorials/javascript-ajax/build-a-top-panel-with-jquery/
 */
.centered {
	margin: auto;
	text-align:center;
}
.panel_button {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 1px;
	width: 173px;
	height: 54px;
	background: url(panel_button.png);
	z-index: 20;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	cursor: pointer;
}
.panel_button span {
	text-decoration: none;
	color: #545454;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 15px;
	left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#toppanel {
	width: 900px;
	z-index: 25;
	text-align: center;
	position: fixed;
    left: 50%;
	top:-20px;
    margin-left:-450px;
}
#panel {
	width: 900px;
	position: relative;
	top: 1px;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	overflow: hidden;
	text-align: left;
}
#top_panel_contents {
	height: 100%;
	width: 904px;
	position: absolute;
	background: black;
	z-index: -1;
}

.border {
	border: 15px #1d1d1d solid;
}
img.border {
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
}
img.border_pic {
	border: 15px #1d1d1d solid;
	position: absolute;
	top: 110px;
	float: left;
	margin-left: 150px;
	width: 250px;
	height: 150px;
	z-index: 30;
}
div#login {
	width: 240px;
	height: 150px;
	position: absolute;
	right: 150px;
	top: 110px;
	background: #46392f;
	text-align: left;
	padding-left: 10px;
}
div#login p {
	color: #CCCCCC;
	font-family: Century Gothic, Georgia, "Times New Roman", Times, serif;
	line-height: 25px;
}
div#login input#password {
	position: relative;
	right: -6px;
}
div#login input#login_btn {
	border: 1px #899690 solid;
	cursor: pointer;
	position: relative;
	top: 30px;
	left: 86px;
}

/*
 * end login panel
 */